<h1>Sales Reports</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Filters</h5>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Activity</label>
          <%= form_tag(admin_get_order_reports_path) do %>
            <%= select_tag 'taxon_id', options_for_select(@categories.collect{ |u| [u.name.downcase == "exclusives" ? 'Shout Out' : u.name.downcase == "shout out" ? 'Exclusives' : u.name, u.id] }, :selected => params[:taxon_id]),class: 'form-control',
              :onchange => ("this.form.submit();")%>
          <% end -%>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Total Sale</h5>
        <h1 class="card-text">$<%= @total_amount%>.00</h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title">Net Sales</h5>
        <h1 class="card-text">$<%= @total_amount%>.00</h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="card bg-danger">
      <div class="card-body">
        <h5 class="card-title">Total Paid</h5>
        <h1 class="card-text">$<%= @complete_amount%>.00</h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Total Pending Payment</h5>
        <h1 class="card-text">$<%=  @pending_amount%>.00</h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title">Total Accept Orders</h5>
        <h1 class="card-text"><%= @complete_order%></h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Total Rejected Orders</h5>
        <h1 class="card-text"><%=  @pending_order%></h1>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>